.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li{
  display: inline-block;
  float: right;
  font-family:arial, sans-serif;
  font-size:13px;
  padding:10px;

}
.appsmenu {
  position:relative;
  top: -4px;
}


.button {
    line-height: 28px;
    font-weight: bold;
    background-color: #4285f4;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 0px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position:relative;
    top: -5px;
}
.notbell{
  position:relative;
  top: -2px;
}

div.logo{
      padding-top: 200px;
      width: 300px;
      margin: auto;
  }
div.sbtn{
  width:300px;
  margin:auto;
}

div.search{
  width: 500px;
  margin: auto;
  position: relative;
  left: -15px;
}
.searchbox{
  padding: 10px;
  margin: 15px;
  width: 500px;
  position: relative;
  left: -30px;
}

.sbtn {
  padding-top: 15px;
}
.sbtn1 {
  padding: 10px;
  font-family:arial, sans-serif;
  font-weight: bold;
  color: #757575;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.sbtn2 {
  float: right;
  font-weight: bold;
  padding: 10px;
  font-family:arial, sans-serif;
  border-radius: 4px;
  color: #757575;
  background-color: #f2f2f2;
}
.languages {
  font-size: small;
  width: 500px;
  margin: auto;
  padding: 10px;
}
